In [13]:
import os
import pandas as pd

In [2]:
os.getcwd()

'C:\\Users\\Bilal Mohammed\\ML Code\\Labs\\reading_json'

In [12]:
os.listdir("C:\\Users\\Bilal Mohammed\\ML Code\\Labs\\reading_json\\datasets")

['filtered.json',
 'nested.json',
 'practise',
 'simple.json',
 'simple_records.json']

In [14]:
# Reading simple JSON file 
data = pd.read_json('datasets/simple.json')

In [15]:
data.head()

      name  age grade
0    Andew   12     A
1   Bhuvan   18     B
2  Clinton   11     A
3    Drake   12     C
4    Eisha   13     B

In [17]:
# reading second json file
data_2 = pd.read_json('datasets/simple_records.json')

ValueError: Trailing data

In [19]:
# reading second json file
data_2 = pd.read_json('datasets/simple_records.json',lines=True)

In [20]:
data_2

       name  age grade
0     Andew   12     A
1    Bhuvan   18     B
2   Clinton   11     A
3     Drake   12     C
4     Eisha   13     B
5    Farhan   22     C
6    Garima   11     A
7  Himanshu   19     A
8    Ishaan   10     D
9     Jason    9     B

In [21]:
data3 = pd.read_json('datasets/nested.json')

In [22]:
data3

   student_roll_no                                        details
0              101     {'name': 'Andew', 'age': 12, 'grade': 'A'}
1              102    {'name': 'Bhuvan', 'age': 18, 'grade': 'B'}
2              103   {'name': 'Clinton', 'age': 11, 'grade': 'A'}
3              104     {'name': 'Drake', 'age': 12, 'grade': 'C'}
4              105     {'name': 'Eisha', 'age': 13, 'grade': 'B'}
5              106    {'name': 'Farhan', 'age': 22, 'grade': 'C'}
6              107    {'name': 'Garima', 'age': 11, 'grade': 'A'}
7              108  {'name': 'Himanshu', 'age': 19, 'grade': 'A'}
8              109    {'name': 'Ishaan', 'age': 10, 'grade': 'D'}
9              110      {'name': 'Jason', 'age': 9, 'grade': 'B'}

In [30]:
# finding students whose age is >15
len(data3['details'])

10

In [32]:
for i in range(0,len(data3['details'])):
    print (data3['details'][i]['age'])

12
18
11
12
13
22
11
19
10
9

In [33]:
filtered_list = []
for i in range(0,len(data3['details'])):
    filtered_variable = {}
    if data3['details'][i]['age'] >15:
        filtered_variable['name'] = data3['details'][i]['name']
        filtered_variable['age'] = data3['details'][i]['age']
        filtered_list.append(filtered_variable)

In [34]:
filtered_list

[{'name': 'Bhuvan', 'age': 18},
 {'name': 'Farhan', 'age': 22},
 {'name': 'Himanshu', 'age': 19}]

In [36]:
#writing back the extracted json to a file 
import json
with open('datasets/practise/filtered_pr1.json','w') as f:
    json.dump(filtered_list,f,indent=4)

In [37]:
os.listdir('datasets/practise')

['filtered_pr.json', 'filtered_pr1.json']

In [39]:
data_filtered = pd.read_json('datasets/practise/filtered_pr1.json')

In [40]:
data_filtered

       name  age
0    Bhuvan   18
1    Farhan   22
2  Himanshu   19